# Cache Manifest mime/type
AddType text/cache-manifest manifest

# Enable Rewriting
RewriteEngine On

# Rewrite user URLs
#   Input:  api/ID/
#   Output: api/index.php?id=ID
RewriteRule ^api/([0-9]+)/?$ api/index.php?id=$1
