/*
 * Simple Styles
 * Joseph Pecoraro
 */

/*
 * Reset Rules
 * From Blueprint 0.9
 * Source: http://www.blueprintcss.org/
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* title banner */
#title {
  background: black;
}

#title h1 {
  text-align: center;
  color: white;
  padding: 30px 0;
  font-size: 3em;
  font-family: 'Lucida Grande', serif;
}

/* content area */
body {
  background: #AAA;
}

#content {
  position: absolute;
  height: 0;
}

/* individual box */
.box {
  position: absolute;
  width: 300px;
  border: 2px solid black;
  background: #eee;
  padding: 2em 1em 1em 1em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.box p {
  text-overflow: clip;
}

.box .counter {
  color: #990;
  float: right;
}

.menubar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 0;
  font-size: 0.75em;
  min-height: 15px;
  background: black;
  width: 100%;
  color: white;
  text-align: right;
}

.menubar ul {
  list-style-type: none;
}

.menubar ul li {
  margin-right: 10px;
  display: inline;
}

/* sidebar */
#sidebar {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 75px;
  min-height: 56px;
  background: white;
  border: 2px solid black;
  z-index: 100;
  padding: 10px;
}

#sidebar ul {
  margin: 0 auto;
  list-style-type: none;
}

#sidebar li {
  clear: left;
  min-height: 30px; /* hack */
}


/* Prevent text selection while dragging */
.moving {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}


/*
 * Styles while editing in place
 * Modified version of code from WebKit's Web Inspector
 * Source: http://trac.webkit.org/browser/trunk/WebCore/inspector/front-end/
 */
.editing {
    -moz-user-select: text;
    -webkit-user-select: text;
    -moz-box-shadow: rgba(0, 0, 0, .5) 3px 3px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, .5) 3px 3px 4px;
    -webkit-user-modify: read-write-plaintext-only;
    background-color: white;
    text-overflow: clip;
    padding-left: 2px;
    margin-left: -2px;
    padding-right: 2px;
    margin-right: -2px;
    margin-bottom: -1px;
    padding-bottom: 1px;
    opacity: 1.0 !important;
    color: black !important;
}

/*
  * button styles
  * Source: http://www.oscaralexander.com/tutorials/how-to-make-sexy-buttons-with-css.html
*/
a.button {
    background: transparent url('../images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('../images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}
